.add-text-button {
    position: absolute;
    top: 0;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 5px 0 #ccc;
    transition: all .2s;
    padding-left: 20px;
    padding-right: 20px;

    line-height: 40px;
    font-weight: bold;
    float: left;

    transition: all 2s, color 1s;
    overflow: hidden;
    
    cursor: pointer;
}

.add-text-button:hover {
    box-shadow: 0 0 5px 0 #333;
}

.add-text-button::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid orange;
    border-right: 2px solid red;
    opacity: .7;
    transition: all .5s;
}

.add-text-button::after {
    content: "";
    position: absolute;
    margin: auto;
    left: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid blue;
    border-left: 2px solid green;
    opacity: .7;
    transition: all .5s;
}
